* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 30px;
}

.quiz-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.start-btn,
.options {
  font-size: 30px;
}
